html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	overflow: hidden;
	color: $textColor;
	font-family: $mainFont;
	font-weight: 400;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
span {
	display: inline-block;
}

img {
	width: 100%;
	height: auto;
}

main {
	min-height: 50vh;
}

body.lock {
	overflow: hidden;
	position: fixed;
}

a:focus,
button:focus {
	outline: none;
}